<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <title>你的农村名字</title>
</head>
<body>
    <div class="tab-content">
        <div class="border"></div>
        <div class="result_box">
            你的名字是<i style="font-size: xx-large"><%= cheap_name%></i>，哈哈哈
        </div>

        <img class="img-box" src="<%= img %>">

        <div class="bar"></div>
        <div class="description">
            <p>生肖属性和性格分析: </p>
            <p style="text-indent: 2em" class="sansserif"><%= year%>年出生的宝宝属<%= zodiac %>。<%= description %></p>
        </div>

        <div class="border"></div>
    </div>

    <% include import.ejs %>
</body>
</html>